html{
	font-family: sans-serif;
	margin: 20px;
	padding: 0;
}

form{
	line-height: 22px;
	font-size: 16px;
}

form p textarea,
form p input,
fieldset{
	border: solid 1px #e1e1e1;
	border-radius: 4px;
}

fieldset{
	padding: 20px 20px 0 20px;
	margin: 0 auto 20px auto;
	vertical-align: top;
	max-width: 600px;
	display: table;
}

form p{
	margin: 0 0 20px 0;
	display: block;
}

form label,
form p legend{
	margin-bottom: 10px;
	display: block;
	padding: 0;
}

form fieldset>legend{
	
}

form p textarea,
form p input{
	width: calc(100% - 20px);
	font-size: inherit;
	padding: 8px 10px;
	display: block;
}

form p select{
	font-size: inherit;
}

form p textarea{
	resize: vertical;
}

form p input[type="range"]{
	width: calc(100% - 10px);
	padding: 0;
}

form p[data-input-type="checkbox"] input,
form p[data-input-type="checkbox"] label,
form p[data-input-type="radio"] input,
form p[data-input-type="radio"] label{
	display: inline-block;
	margin-right: 10px;
	width: auto;
}

form p .hint{
	//visibility: collapse;
	padding-top: 10px;
	overflow: hidden;
	display: block;
	color: #2b2982;
	//height: 0;
}

form p .hint.show{
	//visibility: visible;
	color: #d24040;
	//height: auto;
}

form p[data-input-type="button"]{
	display: inline-block;
}

form button{
	background-color: lightblue;
	border-radius: 12px;
	margin: 0 10px 0 0;
	padding: 10px 15px;
	font-size: inherit;
	cursor: pointer;
	display: block;
	border: none;
}

form button:hover{
	background-color: lightgreen;
}

form button:active,
form button:focus{
	background-color: #2b2982;
	outline: none;
	color: white;
}

/*  tabs */
form .select-tabs button.selected{
	background-color: #2b2982;
	color: white;
}

form .select-tabs button{
	display: inline-block;
}

form .select-tabs select{
	display: none;
}

/* form error list */
.form-error-list{
	padding: 20px 20px 0 30px;
	background-color: #ffd1d1;
	border-radius: 4px;
	max-width: 590px;
	color: #a91616;
	margin: 0 auto;
	display: none;
	width: 100%;
}

.form-error-list a{
	margin-bottom: 20px;
	display: block;
	color: inherit;

}

.form-error-list.show-list{
	display: table;
}